@font-face {
    font-family: 'Grandstander';
    src: url('/static/fonts/Grandstander-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.grandstander-regular-font {
    font-family: 'Grandstander', cursive;
}