@font-face {
    font-family: 'Grandstander';
    src: url('/static/fonts/Grandstander-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.grandstander-light-font {
    font-family: 'Grandstander', cursive;
}