.write-notes-button{ 
    border: none;
    box-sizing: border-box;  
    width: fit-content;
    padding: 4px 12px;
    height: fit-content;  
    background: #F26A8D;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    transition: box-shadow 0.2s ease-in-out;
    margin-bottom: 24px;
}
.write-notes-button svg{

}

.write-notes-button span{ 
    font-size: 15px;  
    letter-spacing: 0.02em; 
    color: #FFFFFF; 
}

.write-notes-button:active{
    box-shadow: none;
}


.image-drawer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

.image-drawer-capture{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-drawer-wrapper{
    width: 250px;
    height: 250px; 
    margin: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    border: 1px solid #5A2A3A;
}

#qr_code_holder{ 
    width: 180px;
    height: 180px;
}

#qr_code_title{
    position: absolute;
    width: 100%;
    font-size: 14px;
    text-align: center;
    bottom: 8px;
    right: 0;
    color: #F26A8D;
}

