{% load static %}
<section class="creator-area" style="{% if not display %}display: none;{% endif %}">

    <div class="creator-area-info">
        <h3 class="creator-area-title grandstander-bold-font">Created By</h3>
        <h1 class="creator-area-name grandstander-light-font">Ericson Mark Guanzon</h1>
        <div class="creator-area-icons">
            <img onclick="window.location='https://www.facebook.com/makietech.guanzon/'" src="{% static 'assets/fb-icon.png' %}" alt="">
            <img onclick="window.location='https://www.instagram.com/ericsonmarkguanzon/'" src="{% static 'assets/insta-icon.png' %}" alt="">
            <img onclick="window.location='https://makietech.pythonanywhere.com/'" src="{% static 'assets/portfolio-icon.png' %}" alt="">
        </div>
    </div>
    <img src="{% static 'assets/myself.png' %}" alt="makie" class="creator-area-image">

</section>
